.buttons{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

table { 
    border-collapse: collapse; 
    margin-top: 50px;
}

td { 
    border: solid thin; 
    height: 40px; 
    width: 40px; 
    text-align: center; 
    padding: 0; 
}
